body {
  background-image: url("https://www.tripsavvy.com/thmb/o19NAc55Z0N6DpWpnuhdTko-RsM=/2576x2576/smart/filters:no_upscale()/false-creek-in-vancouver-520447354-5ad8a8778023b900360aae96.jpg");
  background-size: cover;
  /* background-repeat: repeat; */
  margin: 0 auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

img {
  display: block;
  margin: auto;
}

h1,
h3 {
  color: black;
  padding: 0;
  margin: 0;
}
p {
  color: black;
}
.Hobby {
  border-color: black;
}
table td,
th {
  border: 2px solid black;
  border-style: dashed;
  border-radius: 3px;
  color: black;
  padding: 2px;
  margin: 3px;
}
