.img {
  background-image: url("https://media.tacdn.com/media/attractions-splice-spp-674x446/07/02/a9/16.jpg");
  background-repeat: repeat;
  width: 100%;
  height: auto;
  margin: auto;
}
h1,
h3 {
  color: white;
}
p {
  color: #a3cbf0;
}
.Hobby {
  border-color: #a3cbf0;
}
table td,
th {
  border: 2px solid rgb(47, 120, 255);
  border-style: dashed;
  border-radius: 3px;
  color: #a3cbf0;
  padding: 2px;
  margin: 3px;
}
.closure {
  background-image: url("https://images.rove.me/w_740,q_85/cozb6cjyfr6e3zct2p3s/vancouver-northern-lights.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
